.searchResults {
  color: white;
  margin-left: 20px;
}

.searchResults h2 {
  margin-bottom: 15px;
}

.row_posters {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.row_posterContainer {
  text-align: center;
  width: 200px;
}

.row_poster {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
}

.movie_name {
  font-size: 14px;
  margin-top: 5px;
}
